# For general use throughout the project, including all models and data processing scripts
.vscode/
.DS_Store
.venv
emb_stack/emb11Nclp.tif
data/emb11Nclp.tif

__pycache__/

data

probability_map.tif
probability_map.png
best_model.pt
scaler.joblib
scratch.py
scratch2.py
